<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album Archive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- サイドバー -->
    <div class="container-fluid">
        <div class="row">
			<div class="d-md-none title">
				<h5 class="text-white px-3 pt-4 pb-3">Album Archive</h5>
			</div>
            <div class="col-md-2 sidebar order-2 order-md-1 flex-row text-white">
				<h5 class="d-none d-md-block px-3 pt-4">Album Archive</h5>
                <nav>
                    <ul class="nav flex-row flex-md-column fw-bold">
                        <li class="nav-item flex-fill">
                            <a th:href="@{/AlbumArchive}" class="nav-link d-flex flex-column flex-md-row mt-2" 
                               th:classappend="${activeTab == 'home' ? 'active-tab' : ''}">
                               <i class="bi bi-house-door-fill me-md-2"></i>Home
                            </a>
                        </li>
                        <li class="nav-item flex-fill">
                            <a th:href="@{/AlbumArchive/library}" class="nav-link d-flex flex-column flex-md-row mt-2" 
                               th:classappend="${activeTab == 'library' ? 'active-tab' : ''}">
                               <i class="bi bi-music-note-list me-md-2"></i>Library
                            </a>
                        </li>
                        <li class="nav-item flex-fill">
                            <a th:href="@{/AlbumArchive/add}" class="nav-link d-flex flex-column flex-md-row mt-2" 
                               th:classappend="${activeTab == 'add' ? 'active-tab' : ''}">
                               <i class="bi bi-plus-square me-md-2"></i>Add
                            </a>
                        </li>
                        <li class="nav-item flex-fill">
                            <a th:href="@{/AlbumArchive/edit}" class="nav-link d-flex flex-column flex-md-row mt-2" 
                               th:classappend="${activeTab == 'edit' ? 'active-tab' : ''}">
                               <i class="bi bi-pencil-square me-md-2"></i>Edit
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>

			<!--メインコンテンツ-->
			<div class="col-md-10 main-content order-1 order-md-2 text-white">
                <div class="d-flex gap=5 align-items-center ps-4 pt-4">
				    <h1 class="text-white">Add</h1>
                        <form th:action="@{/AlbumArchive/add/search}" method="GET" class="flex-grow-1 d-flex justify-content-end me-5">
                            <div class="position-relative w-50 me-5">
                                <button class="btn position-absolute bg-transparent" type="submit"><i class="bi bi-search"></i></button>
                                <input type="search" name="query" class="form-control searchbar ps-5" placeholder="Search albums...">
                            </div>
                        </form> 
                </div>

                <div class="text-center pt-5">
                    <div class="text-white border-0 shadow-sm" role="alert">
                        <h5>No results found.<h6>
                    </div>
                </div>
			</div>
		</div>
	</div>

</body>
</html>